<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--font awesome-->
    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--main stylsheet-->
    <link rel="stylesheet" href="public/css/style.css">

    <!--animation.css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  <!-- or -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <title>Elkay's Forum</title>
  </head>
  <body class = "body_color">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class = "container">
        <a class="navbar-brand" href="/"><b>Elkay's Forum</b></a>
       
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto text-center">
            <a class="nav-item nav-link active" href="/"><i class='fa fa-home header' aria-hidden='true'></i>Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="/about"><i class="fa fa-list-ul header" aria-hidden="true"></i>About</a>
            <a class="nav-item nav-link active" href="/contact"><i class="fa fa-envelope header" aria-hidden="true"></i>Contact</a>
           
          </div>

        </div>
      </div>  
    </nav>
    <br>
    {{{body}}}
    
    
    <div class="container text-center mt-0">
      <h2 class='lead'><b>Follow me on Social Media</b></h2>
            <hr class='social-hr'>
            
            <div class="social">
                <div class="social__item">
                    <a href="https://www.facebook.com/lakshyajit.laxmikant" target="_blank"><span class="fa fa-facebook" data-social="fb"></span></a>
                </div>
                <div class="social__item">
                    <a href="https://github.com/lakshyajit165" target="_blank"><span class="fa fa-github"  data-social="gh"></span></a>
                </div>
                <div class="social__item">
                    <a href="https://www.linkedin.com/in/lakshyajit/" target="_blank"><span class="fa fa-linkedin" data-social="ln"></span></a>
                </div>
                <div class="social__item">
                    <a href="https://www.quora.com/profile/Lakshyajit-Laxmikant" target="_blank"><span class="fa fa-quora" data-social="qo"></span></a>
                </div>
                <div class="social__item">
                    <a href="https://soundcloud.com/lakshyajit" target="_blank"><span class="fa fa-soundcloud" data-social="sc"></span></a>
                </div>
            </div>
    </div> 
    <br>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!--typed.js-->
    <script>
      $('document').ready(function(){
        let typed = new Typed('#typed', {
          stringsElement: '#typed-strings',
          backSpeed: 60,
          typeSpeed: 80
        });
      });


    </script>  
    
   <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    
  </body>
</html>