<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   

    <title>Elkay's Forum</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!--font awesome cdn-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="public/css/style.css" rel="stylesheet">
    <!--animation.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
  </head>

  <body>
  
    <div class="container text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
          <header class="masthead mb-auto">
            <div class="inner">
              <nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #e3f2fd;">
                  <a class="navbar-brand" href="/"><b>Elkay's Forum</b></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="/"><i class='fa fa-home header' aria-hidden='true'></i><span class="nav-text">Home</span></a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="/about"><i class="fa fa-list-ul header" aria-hidden="true"></i><span class="nav-text">About</span></a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="/contact"><i class="fa fa-envelope header" aria-hidden="true"></i><span class="nav-text">Contact</span></a>
                      </li>
                    </ul>
                    
                  </div>
                </nav>
            </div>
          </header>

          <main role="main" class="inner cover">
            {{{body}}}

            <br>
            <h2 class='lead'>Follow me on Social Media</h2>
            <hr class='social-hr'>
            
            <div class="social">
                <div class="social__item">
                    <a href="https://www.facebook.com/lakshyajit.laxmikant" target="_blank"><span class="fa fa-facebook" data-social="fb"></span></a>
                </div>
                <div class="social__item">
                    <a href="https://github.com/lakshyajit165" target="_blank"><span class="fa fa-github"  data-social="gh"></span></a>
                </div>
                <div class="social__item">
                    <a href="https://www.linkedin.com/in/lakshyajit/" target="_blank"><span class="fa fa-linkedin" data-social="ln"></span></a>
                </div>
                <div class="social__item">
                    <a href="https://www.quora.com/profile/Lakshyajit-Laxmikant" target="_blank"><span class="fa fa-quora" data-social="qo"></span></a>
                </div>
                <div class="social__item">
                    <a href="https://soundcloud.com/lakshyajit" target="_blank"><span class="fa fa-soundcloud" data-social="sc"></span></a>
                </div>
            </div>



          </main>
          <br>

          <footer class="mastfoot mt-auto">
            <div class="inner">
              <p>&copy; Copyright 2018, Designed by Elkay.</p>
            </div>
          </footer>
        </div>  
      </div>  

   

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
   
     
    <!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>-->
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    
    <!--particles-->
    
    
  </body>
</html>