<div class="container text-center animated bounceInUp">
      <h1>About Me</h1>
      <div class="jumbotron" id='about'>
        
        <p class='lead about-p'><span class='quote-left'><i class='fa fa-quote-left'></i></span>Currently am pursuing my Bachelor's Degree in Computer Science and Engineering at College of Engineering and Technology, Bhubaneswar. Have a look at my skills and do drop in a message if you consider me for a position! </p>
        
        <hr>

        <h1 class="display-4">Skills</h1>
        <p class="lead">Take a glance at my skill set</p>
        <div class = 'row'> 
          <div class = 'col-lg-4'>
            <h3><img src='public/images/code.png' class='about-img' width='30px' height='30px'>CS Skills</h3>
            <p class="lead">C, C++, JAVA, Python, HTML5, CSS3, Bootstrap, Javascript, jQuery, React.js, Node.js, PHP, MySQL</p>
          </div>

          <div class = 'col-lg-4'>
            <h3><img src='public/images/tools.png' class='about-img' width='20px' height='20px'>Tools</h3>
              <p class="lead">Github, Chrome Developer Tools</p>
            </div>

            <div class = 'col-lg-4'>
            <h3><img src='public/images/bulb.png' class='about-img' width='30px' height='30px'>Other Skills</h3>
            <p class="lead">Android,Wordpress, Arduino, Matlab, Data Science using Python, Adobe Photoshop, Adobe Premiere Pro, Adobe After Effects</p>
            </div>
           </div>
        <hr class="my-4">
        <p class='lead'>Find my full CV below.</p>
        <a class="btn btn-info btn-lg" href="/CV" role="button">Check Out!</a>
        
        <br>
          
       </div>
      </div>