<div class = "container animated bounceInLeft pb-0">
      <div class="jumbotron text-center" style="background: transparent;">
        <div class="home">
          <img src="public/images/lk.jpg" id="home_img">
        </div>
        <div id="typed-strings">
             
            <p>A Tech Enthusiast!</p>
            <p>A Night Owl!</p>
            <p>A Curious Creature!</p>
        </div>
        <h1>Hi! This is Lakshyajit! </h1>
        <h1>I am <span id="typed"></span></h1>
        <hr class="my-4">
        <p class="lead text-justify">I am a tech savvy guy who is interested in new and emerging technologies in Computer Science, and the application of my skills to find an optimal solution to any real world problem. I like to code interactive apps that not only have a great UI but also a robust and secure backend.</p>

        <p class="lead">
          <a href="/about"><button type="button" class="btn btn-dark btn-lg"><b>Take a Peek!</b></button></a>
        </p>
        
      </div>
    </div> 