<br>
<div class="rapper animated bounceInLeft">
<div class="home">
  <img src="public/images/lk.jpg" id="home_img">
</div>
<br>
<div id="typed-strings">
     
    <p>A Tech Enthusiast!</p>
    <p>A Night Owl!</p>
    <p>A Curious Creature!</p>
</div>

<h1 class="cover-heading">Hi! This is Lakshyajit! </h1>
<h1 class="cover-heading">I am <span id="typed"></span></h1>
<p class="lead home-p text-center">I am a tech savvy guy who is interested in new and emerging technologies in Computer Science, and the application of my skills to find an optimal solution to any real world problem. I like to code interactive apps that not only have a great UI but also a robust and secure backend.</p>
<p class="lead">
    <a href="/about" class="btn btn-lg btn-light">Take a peek</a>
</p>
</div>